{% load static %}

 <!-- Vendor JS Files -->
 <script src="{% static 'spacce/vendor/aos/aos.js ' %}"></script>
 <script src="{% static 'spacce/vendor/bootstrap/js/bootstrap.bundle.min.js ' %}"></script>
 <script src="{% static 'spacce/vendor/glightbox/js/glightbox.min.js ' %}"></script>
 <script src="{% static 'spacce/vendor/isotope-layout/isotope.pkgd.min.js ' %}"></script>
 <script src="{% static 'spacce/vendor/swiper/swiper-bundle.min.js ' %}"></script>
 <script src="{% static 'spacce/vendor/waypoints/noframework.waypoints.js ' %}"></script>
 <script src="{% static 'spacce/vendor/php-email-form/validate.js ' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'spacce/js/main.js ' %}"></script>
